.font-color{
    color : white;
}

body {
	padding-top: 100px;
	background-color:#253374;
	margin: 0px;
}

.center{
    font-size: 100px;
    text-align: center;
    margin: 20px;
	font-family : 'Retro Gaming'
}

.image{
    width: 1000px;
/*	height: 1000px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-family: 'poppins'
}
.container {
    width: 100vx;
    height: 100vx;
    background-color:#253374;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: black;
    text-align: center;
    font-family : 'Retro Gaming'
}

.header-wrapper {
	width: 1170px;
	margin: 0;
}

.clearfix{
	content: '';
	display: block;
	clear: both;
}

header{
	height: 75px;
	background-color: #0C1647;
	border: 1px solid #0C1647;
	position: fixed;
	width: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
}

.gnb {
	float: left;
	list-style-type: none;
}

.gnb li{
	float: left;
	font-family : 'Retro Gaming'
}

.gnb>li>a{
	line-height: 45px;
/*	font-family: 'poppins';*/
	font-weight: bold;
    font-size: 20px;
	padding: 0 30px;
    text-decoration: none;
	display: block;
}

a {
    text-decoration-line: none;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: #3a4888;
}
img.infinite_rotating {
    animation: rotate_image 10s linear infinte;
    transform-origin: 50% 50%;
}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

.main{
	
}

.email {
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
	font-family : 'Retro Gaming';
	background-color: #eee;
	color: black;
}

.category {
    font-size: 50px;
}

.footer-p {
	font-family: 'poppins';
	font-size: 20px;
}