.font-color{
    color : white;
}

div {
	box-sizing: border-box;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

p {
transform : rotate(0.04deg);
}

body {
	padding-top: 57px;
/*	background-color:#253374;*/
	margin: 0px;
}

.center{
	width: 100%;
    font-size: 100px;
    text-align: center;
	font-family : 'retro gaming';
	padding: 1px;
	margin-top: 60px;
	margin-bottom: 20px;
}

.image{
    width: 1000px;
/*	height: 1000px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-family: 'poppins'
}
.container {
	width: 100vx;
    height: 100vx;
	background: radial-gradient(#ECE597 10%,#8BC3E7 30%,#253374 80%);
	padding: 1px;
/*    background-color:#253374;*/
}

.footer {
    width: 100%;
    height: 200px;
/*    background-color: black;*/
    text-align: center;
    font-family : 'Retro Gaming'
}

.header-wrapper {
	width: 1170px;
	margin: 0;
}

.clearfix{
	content: '';
	display: block;
	clear: both;
}

header{
	height: 75px;
	background-color: #0C1647;
	border: 1px solid #0C1647;
	position: fixed;
	width: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
}

.gnb {
	float: left;
	list-style-type: none;
}

.gnb li{
	float: left;
	font-family : 'Retro Gaming'
}

.gnb>li>a{
	line-height: 45px;
/*	font-family: 'poppins';*/
	font-weight: bold;
    font-size: 20px;
	padding: 0 30px;
    text-decoration: none;
	display: block;
}

a {
    text-decoration-line: none;
	background-color: transparent;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: #3a4888;
}

img.infinite_rotating {
    animation: rotate_image 10s linear infinte;
    transform-origin: 50% 50%;
}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

.main{
	
}

.email {
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
	font-family : 'Retro Gaming';
	background-color: cornflowerblue;
}

.category {
    font-size: 50px;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	list-style-type: none;
}

.category div {
	float: left;
	width: 30%;
	align-content: center;
}

.footer-p {
	font-family: 'poppins';
	font-size: 20px;
	font-weight: bold;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width : 768px) { 
	.category>div {
		width: 100%;
		float: none;
	}
}